<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">
      <div class="row column">
        <%= form.text_field :name, label: t("models.subcensus.fields.name", scope: "decidim.census.admin") %>
      </div>
      <div class="row column">
        <%= form.select :participatory_process,
                        participatory_processes.map { |p| [translated_attribute(p.title), p.id] },
                        selected: form.object.participatory_process,
                        label: t("models.subcensus.fields.participatory_process", scope: "decidim.census.admin"),
                        include_blank: t(".select_participatory_process") %>
      </div>
      <div class="row column">
        <%= form.upload :subcensus_file,
                        help_text: t("models.subcensus.fields.subcensus_file", scope: "decidim.census.admin"),
                        button_class: "button button__sm button__transparent-secondary" %>
      </div>
    </div>
  </div>
</div>
