<div class="card-section send-newsletter-to-select-users">
  <div class="row">
    <div class="grid-x grid-padding-x">
      <div class="cell small-12" id="send_newsletter_to_select_users">
        <div class="row column">
          <%= f.check_box :send_to_selected_users, label: t(".send_to_selected_users") %>
          <%= f.select(
              :selected_users_ids,
              Decidim::User.all.map{ |user| ["#{user.name} (@#{user.nickname})", user.id] },
              { label: false },
              { multiple: true, class: "newsletter_select-users" }) %>
          <p class="help-text"><%= t(".select_users.help") %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag "newsletter" %>
