.new_newsletter,
.edit_newsletter {
  .newsletter-colors-selector {
    display: flex;
    justify-content: space-between;

    label {
      width: 100%;
      margin-right: 20px;
      margin-top: 20px;
    }
  }
}

.newsletter_deliver {
  #send_newsletter_to_select_users {
    padding-left: 0 !important;

    .title-text {
      font-weight: bold;
    }

    .help-text {
      padding-top: 20px;
    }
  }
}
