<div class="card">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <%= t('admin.instructions.title', scope: 'decidim.census') %>
    </h1>
  </div>
  <p><%= t('admin.instructions.body', scope: 'decidim.census') %></p>
</div>
